<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE 341: Personal Project</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>    
        <h1><%= title %></h1>
        <div>Please click below login button to log in this API.</div>
        <%  if(!isAuthenticated) { %> 
        <button><a href="/graphql">Login</a></button>
        <% } %> 
        
    </main>

</body>
</html>