<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <ul>
           
            <li><a href="/auth/logout">Log out</a></li>
         
            <li><a href="/auth/login">Login</a></li>
      
            <li><a href="/">Homepage</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <header>
        <h1>Login using...</h1>
    </header>
    <main>
        <a class="google-btn" href="/auth/google"><img src="/img/btn_google_signin_dark_focus_web.png" alt="google login"></a>
    </main>
</body>
</html>