<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Contact</title>
</head>
<body>
    <h1>Create a new contact</h1>
    <form action="/contacts/newContact" method="post">
        <section>
            <label for="firstName">First Name: </label>
            <input type="text" id='firstName' name='firstName' placeholder="first name">
            <label for="lastName">Last Name: </label>
            <input type="text" id='lastName' name='lastName' placeholder="last name">
            <label for="email">Email: </label>
            <input type="text" id='email' name='email' placeholder="email@email.com">
            <label for="favoriteColor">Favorite Color: </label>
            <input type="text" id='favoriteColor' name='favoriteColor' placeholder=" Blue">
            <label for="birthday">Birthday: </label>
            <input type="text" id='birthday' name='birthday' placeholder="1990-09-01">
        </section>
       <button>Submit</button>
    </form>
    <a href="/">Back to Index</a>
</body>
</html>