<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Information</title>
</head>
<body>
    <h1>Contact Information</h1>
    <ul>
        <% for(let contact of contacts) { %> 
            <li style="list-style-type: none;"><b><%= contact.firstName %> <%= contact.lastName %></b>
                <ul>  
                    <% Object.keys(contact).forEach( key => { %> 
                        <li style="list-style-type: none;"><b><%= key %></b>: <%= contact[key]%></li>
                    <% }) %>
                </ul>  
            </li>
            <br>
        <% } %>
    </ul>
</body>
</html>